#container {
	width:862px;
	padding:10px;
	margin:0 auto;
	position:relative;
	z-index:0;
}

#example {
	width:600px;
	height:350px;
	position:relative;
}

#slides {
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    position: relative;
    width: 862px;
    z-index: 100;
}

.slides_container {
	width:862px;
	overflow:hidden;
	position:relative;
	display:none;
}

.slides_container div.slide {
	width:862px;
	height:235px;
	display:block;
	z-index:10;
}

#slides .next,#slides .prev {
	position:absolute;
	top:100px;
	left:-43px;
	display:block;
	z-index:1;
}

#slides .next {
	left:862px;
}

#slides a {
	border:none;
}

.pagination {
	margin:26px auto 0;
	width:100px;
	display:none;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

/*
	Caption
*/

.caption {
	z-index:500;
	position:absolute;
	bottom:-35px;
	left:0;
	height:30px;
	padding:5px 20px 0 20px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:540px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;
}